# https://rye-up.com/guide/installation/

# [tool.rye.dependencies]
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu118
torchvision>=0.15.2+cu118
torch>=2.0.1+cu118
scikit-learn
fire
onnx
bs4
# [tool.rye.scripts]
hcaptcha-challenger[sentinel]==0.8.1
