# todo pip install torch torchvision --index-url https://download.pytorch.org/whl/cu118
torchvision>=0.15.2+cu118
torch>=2.0.1+cu118

scikit-learn
pillow
onnx
numpy~=1.26.0
opencv-python~=4.8.0.76
pyyaml
loguru
fire

pydantic~=2.5.0